<%= link_to conversation_path(conversation), class: "conversation-item #{'active' if active}", id: dom_id(conversation) do %>
  <div class="conversation-icon">
    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
      <path d="M21 15a2 2 0 01-2 2H7l-4 4V5a2 2 0 012-2h14a2 2 0 012 2z"/>
    </svg>
  </div>
  <div class="conversation-info">
    <span class="conversation-title"><%= conversation.display_title %></span>
    <span class="conversation-time"><%= time_ago_in_words(conversation.updated_at) %> ago</span>
  </div>
<% end %>
