<% if notice %>
  <div class="flash notice" data-controller="flash">
    <%= notice %>
    <button class="flash-close" data-action="click->flash#close">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="M18 6L6 18M6 6l12 12"/>
      </svg>
    </button>
  </div>
<% end %>

<% if alert %>
  <div class="flash alert" data-controller="flash">
    <%= alert %>
    <button class="flash-close" data-action="click->flash#close">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="M18 6L6 18M6 6l12 12"/>
      </svg>
    </button>
  </div>
<% end %>
