<div class="chat-message <%= message.role %>" id="<%= dom_id(message) %>">
  <% if message.assistant? %>
    <div class="message-avatar">JB</div>
  <% end %>
  <div class="message-content">
    <div class="message-bubble">
      <%= simple_format(message.content) %>
    </div>
    <span class="message-time"><%= message.created_at.strftime("%H:%M") %></span>
  </div>
</div>
